@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  /* Foreground, Background */
  scrollbar-color: #607B96 #011627;
}
*::-webkit-scrollbar-corner{
  background-color:#011627;
}
*::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
  border-bottom: none;
}
*::-webkit-scrollbar-thumb { /* Foreground */
  background: #607B96;
}
*::-webkit-scrollbar-track { /* Background */
  background: #011627;
  border: 1px solid #1E2D3D;
  border-bottom: none;
}
.filterGray{
  filter: brightness(0) saturate(100%) invert(45%) sepia(28%) saturate(470%) hue-rotate(169deg) brightness(96%) contrast(85%);
}
.filterGray{
  filter: brightness(0) saturate(100%) invert(45%) sepia(28%) saturate(470%) hue-rotate(169deg) brightness(96%) contrast(85%);
}

.filterRed {
  filter: brightness(0) saturate(100%) invert(93%) sepia(93%) saturate(2037%) hue-rotate(299deg) brightness(99%) contrast(83%);
}

.filterGreen{
  filter: brightness(0) saturate(100%) invert(98%) sepia(42%) saturate(1911%) hue-rotate(81deg) brightness(87%) contrast(95%);
}

.filterBlue{
  filter: brightness(0) saturate(100%) invert(26%) sepia(10%) saturate(7277%) hue-rotate(208deg) brightness(101%) contrast(94%);
}
.filterWhite{
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(6840%) hue-rotate(178deg) brightness(99%) contrast(90%);
}

html{
  min-height: calc(100vh - 20px);
  overflow-x: hidden;
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: calc(100% - 20px);
  min-height: 100%;
  user-select: none;
  background-color: #01080E;
  overflow-x: hidden;
}

*{
  @font-face {
      font-family: "FiraCode";
      src: url("assets/fonts/FiraCode-Bold.ttf") format("truetype");
      font-style: normal; 
      font-weight: 700;
  }
  @font-face {
      font-family: "FiraCode";
      src: url("assets/fonts/FiraCode-Light.ttf") format("truetype");
      font-style: normal; 
      font-weight: 300;
  }
  @font-face {
      font-family: "FiraCode";
      src: url("assets/fonts/FiraCode-Regular.ttf") format("truetype");
      font-style: normal; 
      font-weight: 400;
  }
  font-family: "FiraCode";
}
#root{
  width: 100%;
  height: 100%;
}

.green__gradient {
  opacity: 0.4;
  background: linear-gradient(90deg, #43D9AD 0%, #43D9AD 100%);
  filter: blur(87px);
}
.blue__gradient {
  opacity: 0.4;
  background: linear-gradient(90deg, #4D5BCE
  0%, #4D5BCE
  100%);
  filter: blur(87px);
  transform: rotate(13.51deg);
}


